.timeline {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.timelineBar {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  background-color: #cdcdcd;
}

.right {
  right: 0% !important;
}

.left {
  left: 0% !important;
}

@media (min-width: 768px) {
  .right {
    right: 5% !important;
  }

  .left {
    left: 5% !important;
  }
}

@media (min-width: 935px) {
  .right {
    right: 15% !important;
  }

  .left {
    left: 15% !important;
  }
}
@media (min-width: 1200px) {
  .right {
    right: 20% !important;
  }

  .left {
    left: 20% !important;
  }
}
@media (min-width: 1400px) {
  .right {
    right: 25% !important;
  }

  .left {
    left: 25% !important;
  }
}
